.nav {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-img {
  width: 100px;
  margin-left: 60px;
}
.nav-input {
  width: 600px;
  height: 40px;
  background: rgba(217, 217, 217, 0.49);
  border-radius: 10px;
  border: none;
  padding-left: 20px;
}

.nav-btns {
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.nav-btn--reserve {
  background-color: #be4a43;
  border: none;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
}
.nav-btn--reserve:hover {
  transform: scale(1.02);
}
.nav-btn--session {
  background-color: #fff;
  border: 1px solid #000;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}
.nav-btn--session:hover {
  transform: scale(1.02);
}
.title-access {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem;
}

.container-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.inputs-time {
  display: flex;
  justify-content: space-between;
}

.inputs-time input {
  max-width: 120px;
  padding: 0.5rem 0.8rem;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  outline: none;
}

.inputs-user {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 0.4rem;
}

.inputs-user input {
  border: none;
  padding: 0.8rem;
  border-bottom: 1px solid #ccc;
  font-size: 0.9rem;
  outline: none;
}
.inputs-user-search input {
  border: none;
  padding: 0.8rem;
  border-bottom: 1px solid #ccc;
  font-size: 0.9rem;
  outline: none;
}
.container-form .inputs-time label input {
  margin-top: 4px;
}
.container-form .inputs-user label input {
  margin-top: 4px;
}
.container-form .inputs-time label {
  font-weight: bold;
}
.container-form .inputs-user label {
  font-weight: bold;
}

.btn-submit-edit {
  background-color: #1bbe05;
  border: none;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.inputs-user-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 20px;
}
