.nav{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-img{
    width: 100px;
    margin-left: 60px;
}
.nav-input{
    width: 600px;
    height: 40px;
    background: rgba(217, 217, 217, 0.49);
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}
.nav-btns{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.nav-btn--reserve{
    background-color: #BE4A43;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    text-decoration-line: underline;
    cursor: pointer;
}
.nav-btn--session{
    background-color: #FFF;
    border: 1px solid #000;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}